body {
    background-color: white;
}

#messages tr:hover td {
background-color: rgba(128, 128, 140, 0.90);
}

#messages {
    border-collapse:collapse;
    border-spacing: 0;
    text-align: left;
    table-layout: fixed;
}

#messages th {
    border-top: #1e1814 solid 1px;
    border-left: #1e1814 solid 1px;
    background-color: #423731;
    color: #f9f2e5;
		line-height: 1.2em;
}

@media only screen and (max-width: 980px) {
    #messages #msg_origin, #messages #msg_type, #messages th {
        font-size: 1em;
        font-weight: bold;
    }
    #content-area #messages th, #messages td {
        padding: 2px;
    }
	#messages #msg_type {
		width: auto;
	}
}

@media only screen and (min-width: 981px) {
    #messages #msg_origin, #messages #msg_type {
        font-size: 2em;
    }
    #messages th {
        font-size: 1.5em;
    }
    #content-area #messages th, #messages td {
        padding: 10px;
    }
	#messages #msg_type {
	width: 30%;
	}
}

#messages #msg_origin, #messages #msg_type {
background-color: #9e8e85;
color: #1e1814;
}


#messages #msg_origin {
    text-align: center;
}

#messages #msg_type {
    vertical-align: top;
}

#outgoing {
    width: 33%;
}

#messages th, #messages td {
    border-bottom: #1e1814 solid 1px;
    border-right: #1e1814 solid 1px;
}


#messages td:nth-child(2n+1) {
    background-color: #9e8e85;
    color: #f9f2e5;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}

#messages td:nth-child(2n) {
    background-color: #f9f2e5;
    color: #1e1814;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}

#messages tr:first-child th:first-child {
    border-top-left-radius: 6px;
}

#messages tr:first-child th:last-child {
    border-top-right-radius: 6px;
}

#messages tr:last-child th:first-child {
    border-bottom-left-radius: 6px;
}

#messages tr:last-child td:last-child {
border-bottom-right-radius: 6px;
}



